<div id="navbar_3" class="navbar_3_section">
    <nav class="navbar_3">
        <!---->
        <div class="logo_navbar_3"><!--<i class="fa fa-home"></i> Mi Sitio--></div>
        <ul class="ul_menu_3">
            <li class="li_menu_3">
                <a class="a_menu_3" href="<%= url_inicio %>"><i id="i_menu_3_inicio" class="fa fa-home i_menu_3_class"></i>Inicio</a>
            </li>
            <li class="li_menu_3">
                <a class="a_menu_3" href="#"><i id="i_menu_3_nosotros" class="fa fa-users i_menu_3_class"></i>Nosotros<i class="fa fa-caret-down"></i></a>
                <ul class="ul_submenu_3">
                    <li class="li_submenu_3"><a class="a_submenu_3" href="<%= url_preguntasFrecuentes %>"><i id="i_submenu_3_preguntasFrecuentes1" class="fa fa-question i_submenu_3_class"></i>Preguntas Frecuentes</a>
                    </li>
                    <li class="li_submenu_3"><a class="a_submenu_3" href="<%= url_contacto %>"><i id="i_submenu_3_contacto" class="fa fa-address-card i_submenu_3_class"></i>Contacto</a>
                    </li>
                </ul>
            </li>
            <li class="li_menu_3">
                <a class="a_menu_3" href="<%= url_metodosDePago %>"><i id="i_menu_3_metodosPago" class="fa fa-credit-card-alt i_menu_3_class"></i>M&eacute;todos de Pago</a>
            </li>
            <li class="li_menu_3">
                <a class="a_menu_3" href="<%= url_verificador %>"><i id="i_menu_3_verificador" class="fa fa-check-square-o i_menu_3_class"></i>Verificador</a>
            </li>
            <li class="li_menu_3">
                <a class="a_menu_3" href="#"><i id="i_menu_3_comprarBoletos" class="fa fa-ticket i_menu_3_class"></i>Comprar boletos<i class="fa fa-caret-down i_menu_3"></i></a>
                <ul class="ul_submenu_3">
                    <!--
                    <% for (let key in url_edicion) { %>
                        <li class="li_submenu_3">
                            <a class="a_submenu_3" href="<%= url_edicion[key] %>">
                                <i id="i_submenu_3_<%= key %>" class="fa fa-mobile i_submenu_3_class"></i>
                                EDICION <%= key.split('_')[2] %> <!-- Esto extrae el número de la edición --
                            </a>
                        </li>
                    <% } %>
                    -->
                    <li class="li_submenu_3">
                        <a class="a_submenu_3" href="<%= url_edicion.url_edicion_1 %>">
                            <i id="i_submenu_3_edicion1" class="fa fa-mobile i_submenu_3_class"></i>
                            EDICION #1
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="menu-3-btn" id="menu-3-btn"><i class="fa fa-bars"></i></div>
    </nav>
    
    <div class="sidebar_3" id="sidebar_3">
        <ul class="ul_menu_3">
            <li class="li_menu_3">
                <a class="a_menu_3" href="<%= url_inicio %>"><i id="i_menu_3_inicio" class="fa fa-home i_menu_3_class"></i>Inicio</a>
            </li>
            <li class="li_menu_3">
                <a class="a_menu_3" href="#"><i id="i_menu_3_nosotros" class="fa fa-users i_menu_3_class"></i>Nosotros<i class="fa fa-caret-down"></i></a>
                <ul class="ul_submenu_3">
                    <li class="li_submenu_3"><a class="a_submenu_3" href="<%= url_preguntasFrecuentes %>"><i id="i_submenu_3_preguntasFrecuentes1" class="fa fa-question i_submenu_3_class"></i>Preguntas Frecuentes</a>
                    </li>
                    <li class="li_submenu_3"><a class="a_submenu_3" href="<%= url_contacto %>"><i id="i_submenu_3_contacto" class="fa fa-address-card i_submenu_3_class"></i>Contacto</a>
                    </li>
                </ul>
            </li>
            <li class="li_menu_3">
                <a class="a_menu_3" href="<%= url_metodosDePago %>"><i id="i_menu_3_metodosPago" class="fa fa-credit-card-alt i_menu_3_class"></i>M&eacute;todos de Pago</a>
            </li>
            <li class="li_menu_3">
                <a class="a_menu_3" href="<%= url_verificador %>"><i id="i_menu_3_verificador" class="fa fa-check-square-o i_menu_3_class"></i>Verificador</a>
            </li>
            <li class="li_menu_3">
                <a class="a_menu_3" href="#"><i id="i_menu_3_comprarBoletos" class="fa fa-ticket i_menu_3_class"></i>Comprar boletos<i class="fa fa-caret-down i_menu_3"></i></a>
                <ul class="ul_submenu_3">
                    <!--
                    <% for (let key in url_edicion) { %>
                        <li class="li_submenu_3">
                            <a class="a_submenu_3" href="<%= url_edicion[key] %>">
                                <i id="i_submenu_3_<%= key %>" class="fa fa-mobile i_submenu_3_class"></i>
                                EDICION <%= key.split('_')[2] %> <!-- Esto extrae el número de la edición --
                            </a>
                        </li>
                    <% } %>
                    -->
                    <li class="li_submenu_3">
                        <a class="a_submenu_3" href="<%= url_edicion.url_edicion_1 %>">
                            <i id="i_submenu_3_edicion1" class="fa fa-mobile i_submenu_3_class"></i>
                            EDICION #1
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>




